{% include 'layout.html' %}

<div class="container">
  <div class="card">
    <div class="card-header">Changing your password</div>
    {% if msg %} {% if msg == "Password updated" %}
    <div class="alert alert-success" role="alert">{{msg}}</div>
    {% else %}
    <div class="alert alert-danger" role="alert">{{msg}}</div>
    {% endif %} {% endif %}
    <div class="card-body">
      <form method="POST" action="/users/change-password">
        <div class="form-group">
          <label>Your username</label>
          <input type="text" class="form-control" name="username" required />
        </div>
        <div class="form-group">
          <label>Your current password</label>
          <input
            type="password"
            class="form-control"
            name="old_password"
            required
          />
        </div>
        <div class="form-group">
          <label>Your new password</label>
          <input
            type="password"
            class="form-control"
            name="new_password"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">submit</button>
      </form>
    </div>
  </div>
</div>
